footer.footer
    ._container._row.footer__container
        .footer__logo-box
            a.link(href="/")
                img.footer__logo(src=require("../../img/logo2.png") alt="Uniqum kids")
            a.link._vk.footer__vk(href="#")
        ._row.footer__item
            a.link._col-12._s(href="tel:+79258871100")
                | +7 (925) 887-11-00
            a.link._col-12._s(href="tel:+79151100063")
                | ‭+7 (915) 110-00-63
            a.link._col-12._s(href="mailto:zakaz@abacus-shop.com")
                | zakaz@abacus-shop.com
        ._row.footer__item
            a.link._col-12._s(href="/")
                | Главная
            a.link._col-12._s(href="/about/")
                | О нас
            a.link._col-12._s(href="/payment/")
                | Оплата
        ._row.footer__item
            a.link._col-12._s(href="/delivery/")
                | Доставка
            a.link._col-12._s(href="/contacts/")
                | Контакты
            a.link._col-12._s(href="#")
                | Политика в отношении персональных данных