meta(charset="utf-8")

title= "Site"

meta(name="viewport", content="width=device-width, initial-scale=1")
meta(name="description", content="Site")
meta(name="keywords", content="Site")
meta(name="robots", content="index, follow")
meta(property="og:title", content="Site")
meta(property="og:description", content="")
meta(property="og:url", content="http://test.ru/")
meta(property="og:type", content="website")
meta(property="og:image", content="//test.ru/img/image.jpg")
meta(property="og:locale", content="ru_RU")
link(rel="icon", sizes="16x16", href="/favicon16.png")
link(rel="icon", sizes="32x32", href="/favicon32.png")
link(rel="icon", sizes="64x64", href="/favicon64.png")
link(rel="apple-touch-icon-precomposed", href="//test.ru/img/image-180x180.jpg")
meta(name="msapplication-TileImage", content="//test.ru/img/image-270x270.jpg")