.top-menu._container._row
        a.link.top-menu__link(href="/")
            | Главная
        a.link.top-menu__link(href="/about/")
            | О нас
        a.link.top-menu__link(href="/payment/")
            | Оплата
        a.link.top-menu__link(href="/delivery/")
            | Доставка
        a.link.top-menu__link(href="/contacts/")
            | Контакты
        a.link.top-menu__logo-box(href="/")
            img.top-menu__logo(src=require("../../img/logo.png") alt="Uniqum kids")
        .top-menu__phone-box
            a.link.top-menu__phone(href="tel:+79258871100")
                | +7 (925) 887-11-00
            a.link.top-menu__phone(href="tel:+79151100063")
                | ‭+7 (915) 110-00-63
        .top-menu__soc
            a.link._vk(href="#")
        label.top-menu__cart.top-menu__link(for="modal-cart" data-numb="3")
            | Корзина