$default-font: 'myriad-pro', sans-serif;

$background-color: #ffffff;
$s-background-color: #11998e;

$p-active-color: #11998e;
$s-active-color: #11998e;

$p-text-color: #222222;
$s-text-color: #ffffff;
$g-text-color: #FAAD3D;