section.about._bg1
    ._container._row
        h3._col-12.about__caption
            | О нас
        ._col-12
            | Абак, или абакус (др.-греч. ἄ&beta;&alpha;&xi;, ἀ&beta;ά&kappa;&iota;&omicron;&nu;, лат. Abacus)&nbsp;&mdash; универсальное название современных счет. Первое упоминание о&nbsp;&laquo;необычных приспособлениях для счета&raquo; относятся еще к&nbsp;300 году до&nbsp;н.э., а&nbsp;отнесение их&nbsp;к&nbsp;китайским счетам-абакусам или, по-китайски, суан-пань&nbsp;&mdash; датировано 1200 годом н.э. В&nbsp;Японии эти счеты более известны как соробан.
        ._col-12
            | История абакуса насчитывает более 1800&nbsp;лет, этим мастерством овладеть непросто, но&nbsp;увлекательно. Казалось&nbsp;бы, простая дощечка для вычислений, а&nbsp;двухстороннее развитие мозга при работе с&nbsp;абакусами исследуется учеными и&nbsp;демонстрируется даже самыми маленькими детьми.
        ._col-12
            | Восточные страны, такие как Китай, Япония, Индия, Корея, Тайвань Малайзия, Филиппины, Сингапур, давно и&nbsp;прочно включили программу Mental Abacus (Ментальная арифметика, Ментальная математика) в&nbsp;обязательную часть развития детей начиная с&nbsp;4-5&nbsp;лет. Теперь не&nbsp;отстают и&nbsp;западные страны, Австралия, Канада, Новая Зеландия, США, где ментальная арифметика и&nbsp;абакус&nbsp;&mdash; детский обучающий инструмент. Ментальная арифметика&nbsp;&mdash; это система развития мышления с&nbsp;использованием абакусов. Свое начало именно счеты взяли в&nbsp;Древнем Китае еще 5000 лет назад, а&nbsp;в&nbsp;13&nbsp;веке абакус был привезен в&nbsp;Японию, и&nbsp;именно там обрел тот вид, под которым мы&nbsp;его знаем сейчас (1&nbsp;бусина вверху и&nbsp;4&nbsp;бусины внизу).
        ._col-12
            | Изначально методика построена на&nbsp;обучении счету на&nbsp;абакусе: сложение, вычитание, 34&nbsp;формулы, далее умножение и&nbsp;деление, вычисление отрицательных чисел и&nbsp;дополнений, вычисления с&nbsp;помощью десятичных чисел, извлечение корня, возведение в&nbsp;квадрат или куб&nbsp;&mdash; на&nbsp;абакусе можно научиться выполнять многие существующие математические операции.
        ._col-12
            | Однако мышление человека устроено таким образом, что при многократном повторении операций руками (или с&nbsp;помощью мелкой моторики), тактильная память, а&nbsp;также образная память включаются и&nbsp;в&nbsp;дальнейшем человек может производить все те&nbsp;же действия уже без использования абакуса&nbsp;&mdash; то&nbsp;есть ментально..или на&nbsp;воображаемом абакусе.
        ._col-12
            | Легче всего этот процесс дается детям, так как наш мозг устроен интересным способом&nbsp;&mdash; образное мышление, которое на&nbsp;полную катушку работает при ментальном счете&nbsp;&mdash; гибче всего именно у&nbsp;маленьких детей, поэтому обучить ментальной арифметике можно и&nbsp;4-летних малышей.
        ._col-12
            | Что&nbsp;же ментальная арифметика дает деткам? не&nbsp;только образное мышление, но&nbsp;и&nbsp;фотографическую память, концентрацию внимания, быстроту принятия решений, развивает мелкую моторику, самостоятельность, усидчивость, а&nbsp;также общий скочок развития, так как в&nbsp;основном на&nbsp;занятиях педагоги стараются использовать различные виды деятельности и&nbsp;переключать внимание с&nbsp;одного на&nbsp;другой.