section.availability._container._row
    ._col-12
        .availability__item
            .availability__text
                | В&nbsp;нашем магазине есть в&nbsp;наличии качественные деревяные
                | и&nbsp;пластиковые счеты абакус, соробан, как для индивидуального
                | использования (маленькие, 13&nbsp;разрядов, 15&nbsp;разрядов), так
                | и&nbsp;для обучающих центров (большие демонстрационные, 13&nbsp;разрядов).
                | Также под заказ мы&nbsp;доставим Вам универсальные абакусы любых
                | цветов и&nbsp;с&nbsp;любым количеством разрядов.