section.about._bg3
    ._container._row
        h3._col-12.about__caption
            | Доставка
        ._col-12
            strong Самовывоз
        ._col-12.about__text
            | Склад самовывоза: г.Москва, Хлебозаводский проезд, 7, стр.10, БЦ&nbsp;РТС, в&nbsp;районе метро Нагатинская. Товар выдается с&nbsp;ПН-ПТ с&nbsp;10-15&nbsp;СТРОГО по&nbsp;ПРЕДВАРИТЕЛЬНОМУ звонку/согласованию с&nbsp;представителем
        ._col-12
            strong Курьерская доставка по&nbsp;Москве
        ._col-12
            strong Транспортная компания на&nbsp;выбор в&nbsp;регионы
        ._col-12.about__text
            | Транспортная компания&nbsp;&mdash; отгрузка 2&nbsp;раза в&nbsp;неделю, во&nbsp;вторник и&nbsp;пятницу. Срок отгрузки&nbsp;&mdash; до&nbsp;7&nbsp;рабочих дней с&nbsp;момента оплаты. Ограничения по&nbsp;весу нет. Стоимость доставки&nbsp;&mdash; согласно тарифам выбранной Транспортной компании.
        ._col-12
            strong Boxberry
        ._col-12.about__text
            | Boxberry (до&nbsp;пункта выдачи заказов)&nbsp;&mdash; отгрузка 2&nbsp;раза в&nbsp;неделю, во&nbsp;вторник и&nbsp;пятницу, при оплате заказа до&nbsp;12.00 мск текущего дня, до&nbsp;выбранного Вами терминала в&nbsp;Вашем городе. Срок отгрузки&nbsp;&mdash; до&nbsp;7&nbsp;рабочих дней с&nbsp;момента оплаты. Стоимость доставки&nbsp;&mdash; согласно тарифам Перевозчика. Ограничение по&nbsp;весу посылки&nbsp;&mdash; до&nbsp;2&nbsp;кг