section.forwhat
    ._container._row
        ._col-12._col-md-7._col-lg-6._col-xl-5.forwhat__image
        ._col-12._col-md-5._col-lg-6._col-xl-7._p-n
            h3._col-12.scores__caption
                | Для чего нужен абакус?
            ._col-12.scores__text
                | Счеты Абакус подходят для ментальной арифметики.
                | Если хотите, чтобы ребенок научился считать, то вместо
                | калькулятора ему нужно дать в руки абакус и лучше как можно раньше.
                br
                br
                | В задачи соробана входит: развитие концентрации, внимания ребенка,
                | развитие фотографической памяти и воображения, наблюдательности
                | и воображения.