section.about._bg2
    ._container._row
        h3._col-12.about__caption
            | Оплата
        ._col-12
            strong Наличный расчёт
        ._col-12.about__text
            | Вы можете оплатить заказ наличными при самовывозе.
            br
            | При получении товара обязательно проверьте целостность заказанного товара.
        ._col-12
            strong Безналичный расчёт
        ._col-12.about__text
            | После оформления заказа будет сформирован счёт на&nbsp;оплату, который&nbsp;Вы можете распечатать и&nbsp;оплатить. Денежные средства поступят на&nbsp;наш счёт в&nbsp;течение 2-3 рабочих дней после оплаты заказа.
            br
            | Оплата заказов клиентами&nbsp;&mdash; юридическими лицами возможна только по&nbsp;безналичному расчёту.
            br
            |Все необходимые для бухгалтерии документы (оригинал счёта на&nbsp;оплату, счёт-фактура, накладная) выдаются вместе с&nbsp;заказом при получении.
        ._col-12
            strong Банковские карты
        ._col-12.about__text
            | Сервис приёма оплаты предоставлен PayAnyWay.
        ._col-12.about__text
            | PayAnyWay не&nbsp;передает данные Вашей карты магазину и&nbsp;иным третьим лицам. Безопасность платежей с&nbsp;помощью банковских карт обеспечивается технологиями защищенного соединения HTTPS и&nbsp;двухфакторной аутентификации пользователя 3D&nbsp;Secure.
        ._col-12
            | Телефон: +7 (495) 743-49-85
            br
            | E-mail: helpdesk.support@payanyway.ru
        ._col-12
            strong Реквизиты для безналичной оплаты:
        ._col-12.about__text
            | ИП&nbsp;Агапов Евгений Николаевич
            br
            | Юридический адрес: 443046, г. Самара, ул. Аэропорт&nbsp;2, д.4
            br
            | ИНН 631904627410, ОГРН 315631300082639
            br
            | Банковские реквизиты: р/с 40802810114270000162
            br
            | Банк: ТОЧКА ПАО БАНКА &laquo;ФК&nbsp;ОТКРЫТИЕ&raquo;, Г.МОСКВА
            br
            | БИК: 044525999&nbsp;к/с 30101810845250000999
            br
            | тел.&nbsp;+7 (925) 887-11-00,
            br
            | e-mail: zakaz@abacus-shop.com