section.scores
    ._container._row
        ._col-12._col-md-7._col-lg-6._col-xl-5.scores__image
        ._col-12._col-md-5._col-lg-6._col-xl-7._p-n
            h3._col-12.scores__caption
                | Счеты Абакус (сбран)
            ._col-12.scores__text
                | Продажа деревянных и&nbsp;пластиковых счёт абакус, соробан для
                | индивидуального использования и&nbsp;для обучающих центров.
                | А&nbsp;так&nbsp;же универсальные абакусы любого вида под заказ.
            ._col-12.scores__btn-box
                label.button(for="modal-close") Подробнее